deploy:
  needs: build
  runs-on: self-hosted

  steps:
    - name: Pull imagem
      run: docker pull emesilva/hello-service:latest

    - name: Remove container antigo se existir
      run: |
        docker stop hello-service || true
        docker rm hello-service || true

    - name: Run container novo
      run: |
        docker run -d \
          --name hello-service \
          --restart=always \
          -p 8081:8080 \
          emesilva/hello-service:latest
