name: CI-CD

on:
  push:
    branches: ["main"]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Java 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Build jar
        run: mvn clean package -DskipTests

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build image
        run: docker build -t emesilva/hello-service:latest .

      - name: Push image
        run: docker push emesilva/hello-service:latest

  deploy:
    needs: build
    runs-on: self-hosted

    steps:
      - name: Pull imagem
        run: docker pull emesilva/hello-service:latest

      - name: Remove container antigo se existir
        run: |
          docker stop hello-service || true
          docker rm hello-service || true

      - name: Run container novo
        run: |
          docker run -d \
            --name hello-service \
            --restart=always \
            -p 8081:8080 \
            emesilva/hello-service:latest
